.AnswerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  max-width: 400px;
  padding-bottom: 20px;
}

.nodata {
  padding-top: 20px;
}
