.CateoryCardList {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 90%;
  max-width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
}

.list {
  display: flex;
  gap: 7px;
  width: 100%;
  overflow: auto;
}

.viewAllBtn {
  font-weight: 700;
}
