.TabMenu {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px;
}

.tabItem {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.active {
  font-weight: 700;
  color: var(--color-blue-700);
}
