.beforeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 256px;
  width: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.loginMessage {
  font-weight: 600;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  width: fit-content;
}
