.CalendarStreak {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.streakMessage {
  font-weight: 600;
}

.streakDays {
  font-weight: 600;
  color: var(--color-blue-700);
}
