.QuestionView {
  height: 110px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  background-color: white;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  border-radius: 5px;
  height: 20px;
}

.questionContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 5px;
  height: 20px;
}

.blinking {
  -webkit-animation: blink 0.5s ease-in-out infinite alternate;
  -moz-animation: blink 0.5s ease-in-out infinite alternate;
  animation: blink 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    background-color: var(--color-neutral-20);
  }
  100% {
    background-color: var(--color-neutral-40);
  }
}

@-moz-keyframes blink {
  0% {
    background-color: var(--color-neutral-20);
  }
  100% {
    background-color: var(--color-neutral-40);
  }
}

@keyframes blink {
  0% {
    background-color: var(--color-neutral-20);
  }
  100% {
    background-color: var(--color-neutral-40);
  }
}
