.QuestionView {
  padding: 45px 30px;
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.questionContent {
  font-weight: 500;
  text-align: center;
  line-height: 20px;
}

.listItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
