.UserAnswerView {
  background-color: white;
  padding: 20px;
  padding-top: 15px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileEmojiContainer {
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nickname {
  font-size: var(--font-size-small);
}

.content {
  line-height: 20px;
  white-space: pre-wrap;
}
