.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;

    &:active,
    &.active {
      border: 2px solid var(--color-blue-700);
      color: var(--color-blue-700);
      font-weight: 600;
    }

    &.disabled {
      color: var(--color-neutral-60);
    }

    &:first-child,
    &:nth-child(2) {
      background-color: transparent;
      width: 20px;
      height: 20px;
      font-size: var(--font-size-xlarge);
      border: none;
    }

    &:nth-last-child(1),
    &:nth-last-child(2) {
      background-color: transparent;
      width: 20px;
      height: 20px;
      font-size: var(--font-size-xlarge);
      border: none;
    }
  }
}
