.loginInputs{
    padding-bottom: 50px;
}

.loginInput {
    vertical-align: middle;
    width: 90%;
    max-width: 400px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.loginInputTitle {
    text-align: left;
    padding-bottom: 4px;
    font-weight: 500;
    line-height: 20px;
}

.loginInputBox {
    vertical-align: middle;
    width: 100%;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2px;
    border: none;
    outline: none;
}