.QuestionList {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.nodata {
  padding-top: 20px;
  text-align: center;
}

.categoryList {
  width: 100%;
  display: flex;
  justify-content: center;
}
