.CategoryCardButton {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-weight: 600;
}

.count {
  font-size: small;
}
