@import '@/styles/reset.scss';

$color-white: #ffffff;
$color-black: #000000;
$color-blue-light: #e8f7fd;
$color-blue-light-hover: #dcf4fb;
$color-blue-light-active: #b7e7f8;
$color-blue-normal: #18b3e7;
$color-blue-normal-hover: #16a1d0;
$color-blue-dark: #138fb9;
$color-blue-dark-hover: #0e6b8b;
$color-blue-dark-active: #0b5168;
$color-blue-darker: #083f51;

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-blue-light: #{$color-blue-light};
  --color-blue-light-hover: #{$color-blue-light-hover};
  --color-blue-light-active: #{$color-blue-light-active};
  --color-blue-normal: #{$color-blue-normal};
  --color-blue-normal-hover: #{$color-blue-normal-hover};
  --color-blue-dark: #{$color-blue-dark};
  --color-blue-dark-hover: #{$color-blue-dark-hover};
  --color-blue-dark-active: #{$color-blue-dark-active};
  --color-blue-darker: #{$color-blue-darker};

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  height: 100dvh;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
body {
  line-height: 1;
  margin-bottom: 100px;
}
ol,
ul {
  list-style: none;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.fixed-width {
  padding-top: 50px;
  width: 500px;
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
  background-color: #fff0de;
  position: relative;
  height: 100dvh;
  overflow: auto;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.fixed-width::-webkit-scrollbar {
  display: none;
}

.fixed-width {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
