@import '@/styles/reset.scss';

$color-white: #ffffff;
$color-black: #000000;
$color-green: #00a870;
$color-red: #f04242;

$color-neutral-20: #f5f6f7;
$color-neutral-40: #dfe2e6;
$color-neutral-60: #b3b9c4;

$color-blue-50: #e8f7fd;
$color-blue-100: #b7e7f8;
$color-blue-200: #95dcf4;
$color-blue-300: #64ccef;
$color-blue-400: #46c2ec;
$color-blue-500: #18b3e7;
$color-blue-600: #16a3d2;
$color-blue-700: #117fa4;
$color-blue-800: #0d627f;
$color-blue-900: #0a4b61;

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-green: #{$color-green};
  --color-red: #{$color-red};

  --color-blue-50: #{$color-blue-50};
  --color-blue-100: #{$color-blue-100};
  --color-blue-200: #{$color-blue-200};
  --color-blue-300: #{$color-blue-300};
  --color-blue-400: #{$color-blue-400};
  --color-blue-500: #{$color-blue-500};
  --color-blue-600: #{$color-blue-600};
  --color-blue-700: #{$color-blue-700};
  --color-blue-800: #{$color-blue-800};
  --color-blue-900: #{$color-blue-900};
  --color-neutral-20: #{$color-neutral-20};
  --color-neutral-40: #{$color-neutral-40};
  --color-neutral-60: #{$color-neutral-60};

  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  height: 100dvh;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}
body {
  line-height: 1;
  margin-bottom: 100px;
}
ol,
ul {
  list-style: none;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.fixed-width {
  padding-top: 50px;
  width: 500px;
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
  background-color: #fff0de;
  position: relative;
  height: 100dvh;
  overflow: auto;
}

/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.fixed-width::-webkit-scrollbar {
  display: none;
}

.fixed-width {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

button,
input {
  font-family: inherit;
}
