.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.subheader {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-weight: 800;
  font-size: var(--font-size-xlarge);
}

.text {
  cursor: pointer;
  user-select: none;
}

.active {
  color: var(--color-blue-700);
}

.category {
  margin: 15px 0px;
}

.questionList {
  flex-grow: 0;
}
.paging{
  margin-top: 10px;
}

.nodata {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
