.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.text {
  cursor: pointer;
  user-select: none;
}

.active {
  color: var(--color-blue-700);
  font-weight: 700;
}

.category {
  margin: 0 20px;
}

.questionList {
  flex-grow: 0;
  padding: 15px 20px;
  padding-bottom: 0;
}

.paging {
  margin: 20px 0;
}

.nodata {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
